USE [master]
GO
/****** Object:  Database [blogDB]    Script Date: 18.09.2020 16:34:55 ******/
CREATE DATABASE [blogDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'blogDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\blogDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'blogDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\blogDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [blogDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [blogDB]
GO
/****** Object:  Schema [idt]    Script Date: 18.09.2020 16:34:55 ******/
CREATE SCHEMA [idt]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18.09.2020 16:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 18.09.2020 16:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateModified] [datetime2](7) NULL,
	[DateDeleted] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
	[Content] [nvarchar](1024) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[PostId] [int] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Likes]    Script Date: 18.09.2020 16:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateModified] [datetime2](7) NULL,
	[DateDeleted] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
	[Liked] [bit] NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[PostId] [int] NOT NULL,
 CONSTRAINT [PK_Likes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 18.09.2020 16:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateModified] [datetime2](7) NULL,
	[DateDeleted] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
	[Title] [nvarchar](128) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](512) NULL,
	[UserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagPosts]    Script Date: 18.09.2020 16:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagPosts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateModified] [datetime2](7) NULL,
	[DateDeleted] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
	[TagId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
	[Selected] [tinyint] NOT NULL,
 CONSTRAINT [PK_TagPosts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 18.09.2020 16:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateModified] [datetime2](7) NULL,
	[DateDeleted] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
	[TagName] [nvarchar](512) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetail]    Script Date: 18.09.2020 16:34:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetail](
	[UserId] [nvarchar](128) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateModified] [datetime2](7) NULL,
	[DateDeleted] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
	[UserTypeId] [int] NOT NULL,
	[FullName] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_UserDetail] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 18.09.2020 16:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateModified] [datetime2](7) NULL,
	[DateDeleted] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
	[Type] [nvarchar](512) NOT NULL,
 CONSTRAINT [PK_UserTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [idt].[PermissionCategories]    Script Date: 18.09.2020 16:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [idt].[PermissionCategories](
	[Label] [varchar](256) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateModified] [datetime2](7) NULL,
	[DateDeleted] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
	[VisibleLabel] [varchar](256) NULL,
	[Description] [varchar](512) NULL,
 CONSTRAINT [PK_PermissionCategories] PRIMARY KEY CLUSTERED 
(
	[Label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [idt].[PermissionCategoryPermissions]    Script Date: 18.09.2020 16:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [idt].[PermissionCategoryPermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateModified] [datetime2](7) NULL,
	[DateDeleted] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
	[CategoryId] [varchar](256) NULL,
	[PermissionId] [varchar](256) NULL,
	[Description] [nvarchar](512) NULL,
 CONSTRAINT [PK_PermissionCategoryPermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [idt].[Permissions]    Script Date: 18.09.2020 16:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [idt].[Permissions](
	[Label] [varchar](256) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateModified] [datetime2](7) NULL,
	[DateDeleted] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
	[VisibleLabel] [varchar](256) NULL,
	[Description] [varchar](512) NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[Label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [idt].[RoleClaims]    Script Date: 18.09.2020 16:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [idt].[RoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [idt].[RolePermissionCategories]    Script Date: 18.09.2020 16:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [idt].[RolePermissionCategories](
	[PermissionCategoryPermissionId] [int] NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateModified] [datetime2](7) NULL,
	[DateDeleted] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_RolePermissionCategories] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionCategoryPermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [idt].[Roles]    Script Date: 18.09.2020 16:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [idt].[Roles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Description] [nvarchar](1024) NULL,
	[IsEditable] [bit] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateModified] [datetime2](7) NULL,
	[DateDeleted] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [idt].[UserClaims]    Script Date: 18.09.2020 16:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [idt].[UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [idt].[UserLogins]    Script Date: 18.09.2020 16:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [idt].[UserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_UserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [idt].[UserPermissions]    Script Date: 18.09.2020 16:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [idt].[UserPermissions](
	[UserId] [nvarchar](128) NOT NULL,
	[PermissionId] [varchar](256) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateModified] [datetime2](7) NULL,
	[DateDeleted] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_UserPermissions] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [idt].[UserRoles]    Script Date: 18.09.2020 16:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [idt].[UserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateModified] [datetime2](7) NULL,
	[DateDeleted] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [idt].[Users]    Script Date: 18.09.2020 16:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [idt].[Users](
	[Id] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](30) NOT NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[IsEditable] [bit] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateModified] [datetime2](7) NULL,
	[DateDeleted] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [idt].[UserTokens]    Script Date: 18.09.2020 16:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [idt].[UserTokens](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200810123258_migf', N'3.1.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200811124936_miggy', N'3.1.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200812145109_meggy', N'3.1.4')
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [Content], [UserId], [PostId]) VALUES (6, CAST(N'2020-09-07T17:07:02.9586634' AS DateTime2), CAST(N'2020-09-15T11:49:30.6349837' AS DateTime2), NULL, 3, N'deneme ', N'fe23b366-8c7b-4fb3-9fdd-92e08b7a5a7f', 61)
INSERT [dbo].[Comments] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [Content], [UserId], [PostId]) VALUES (7, CAST(N'2020-09-07T17:57:46.4676404' AS DateTime2), CAST(N'2020-09-15T11:44:47.0269879' AS DateTime2), NULL, 3, N'dddddd', N'fe23b366-8c7b-4fb3-9fdd-92e08b7a5a7f', 61)
INSERT [dbo].[Comments] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [Content], [UserId], [PostId]) VALUES (8, CAST(N'2020-09-08T09:55:17.5487150' AS DateTime2), NULL, NULL, 1, N'gerçekten çok beğendim yazıyı', N'fe23b366-8c7b-4fb3-9fdd-92e08b7a5a7f', 61)
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[Likes] ON 

INSERT [dbo].[Likes] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [Liked], [UserId], [PostId]) VALUES (17, CAST(N'2020-09-08T14:14:51.8109927' AS DateTime2), CAST(N'2020-09-09T14:32:25.5795228' AS DateTime2), NULL, 1, 1, N'fe23b366-8c7b-4fb3-9fdd-92e08b7a5a7f', 61)
INSERT [dbo].[Likes] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [Liked], [UserId], [PostId]) VALUES (24, CAST(N'2020-09-09T15:01:39.5735931' AS DateTime2), CAST(N'2020-09-09T15:03:34.5519129' AS DateTime2), NULL, 1, 0, N'fe23b366-8c7b-4fb3-9fdd-92e08b7a5a7f', 67)
INSERT [dbo].[Likes] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [Liked], [UserId], [PostId]) VALUES (25, CAST(N'2020-09-09T15:05:22.0211336' AS DateTime2), NULL, NULL, 1, 0, N'fe23b366-8c7b-4fb3-9fdd-92e08b7a5a7f', 17)
SET IDENTITY_INSERT [dbo].[Likes] OFF
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [Title], [Content], [Image], [UserId]) VALUES (16, CAST(N'2020-08-12T18:05:00.5228152' AS DateTime2), CAST(N'2020-08-13T18:07:15.6418105' AS DateTime2), NULL, 1, N'gbdfgb', N'ghn b', NULL, N'fe23b366-8c7b-4fb3-9fdd-92e08b7a5a7f')
INSERT [dbo].[Posts] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [Title], [Content], [Image], [UserId]) VALUES (17, CAST(N'2020-08-13T16:49:25.8403731' AS DateTime2), CAST(N'2020-08-13T16:49:33.1863258' AS DateTime2), NULL, 1, N'fgbgf', N'fgbfg', NULL, N'fe23b366-8c7b-4fb3-9fdd-92e08b7a5a7f')
INSERT [dbo].[Posts] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [Title], [Content], [Image], [UserId]) VALUES (18, CAST(N'2020-08-13T16:55:04.0045248' AS DateTime2), CAST(N'2020-08-13T16:56:21.2175233' AS DateTime2), NULL, 1, N'vbfg', N'fgb fgb', NULL, N'fe23b366-8c7b-4fb3-9fdd-92e08b7a5a7f')
SET IDENTITY_INSERT [dbo].[Posts] OFF
SET IDENTITY_INSERT [dbo].[TagPosts] ON 

INSERT [dbo].[TagPosts] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [TagId], [PostId], [Selected]) VALUES (34, CAST(N'2020-08-18T12:07:57.3156894' AS DateTime2), NULL, NULL, 1, 1, 61, 0)
INSERT [dbo].[TagPosts] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [TagId], [PostId], [Selected]) VALUES (35, CAST(N'2020-08-18T12:07:57.3179402' AS DateTime2), NULL, NULL, 1, 3, 61, 0)
INSERT [dbo].[TagPosts] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [TagId], [PostId], [Selected]) VALUES (40, CAST(N'2020-08-18T18:06:40.6842188' AS DateTime2), NULL, NULL, 1, 3, 63, 0)
SET IDENTITY_INSERT [dbo].[TagPosts] OFF
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [TagName]) VALUES (1, CAST(N'2020-08-13T10:01:45.7500433' AS DateTime2), NULL, NULL, 1, N'Bilim')
INSERT [dbo].[Tags] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [TagName]) VALUES (2, CAST(N'2020-08-13T00:00:00.0000000' AS DateTime2), CAST(N'2020-08-17T09:18:26.8325828' AS DateTime2), NULL, 3, N'Teknoloji')
INSERT [dbo].[Tags] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [TagName]) VALUES (3, CAST(N'2020-08-13T13:53:33.0429933' AS DateTime2), NULL, NULL, 1, N'Kültür')
SET IDENTITY_INSERT [dbo].[Tags] OFF
INSERT [dbo].[UserDetail] ([UserId], [DateCreated], [DateModified], [DateDeleted], [Status], [UserTypeId], [FullName]) VALUES (N'031f51ce-f4e6-4e34-b6f1-caabb29d7c85', CAST(N'2020-09-14T17:26:51.2153884' AS DateTime2), NULL, NULL, 1, 2, N'alimmen')
INSERT [dbo].[UserDetail] ([UserId], [DateCreated], [DateModified], [DateDeleted], [Status], [UserTypeId], [FullName]) VALUES (N'088a050f-a55b-4e6e-9d6e-2278382fd8ec', CAST(N'2020-09-15T10:09:18.4856147' AS DateTime2), NULL, NULL, 1, 2, N'hakalmengucv')
INSERT [dbo].[UserDetail] ([UserId], [DateCreated], [DateModified], [DateDeleted], [Status], [UserTypeId], [FullName]) VALUES (N'2b284494-965c-4184-9e17-9f73b8c1a77d', CAST(N'2020-09-14T17:19:01.6757967' AS DateTime2), NULL, NULL, 1, 2, N'enesyapmazwon')
SET IDENTITY_INSERT [dbo].[UserTypes] ON 

INSERT [dbo].[UserTypes] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [Type]) VALUES (1, CAST(N'2020-08-12T00:00:00.0000000' AS DateTime2), NULL, NULL, 1, N'Admin')
INSERT [dbo].[UserTypes] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [Type]) VALUES (2, CAST(N'2020-08-12T00:00:00.0000000' AS DateTime2), NULL, NULL, 1, N'Guest')
INSERT [dbo].[UserTypes] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [Type]) VALUES (3, CAST(N'2020-08-12T00:00:00.0000000' AS DateTime2), NULL, NULL, 1, N'User')
SET IDENTITY_INSERT [dbo].[UserTypes] OFF
INSERT [idt].[PermissionCategories] ([Label], [DateCreated], [DateModified], [DateDeleted], [Status], [VisibleLabel], [Description]) VALUES (N'ButtonSettings', CAST(N'2020-08-11T09:17:51.4745399' AS DateTime2), NULL, NULL, 1, N'Buton Ayarları', N'')
INSERT [idt].[PermissionCategories] ([Label], [DateCreated], [DateModified], [DateDeleted], [Status], [VisibleLabel], [Description]) VALUES (N'Category', CAST(N'2020-08-11T09:17:51.4744686' AS DateTime2), NULL, NULL, 1, N'Kategoriler', N'')
INSERT [idt].[PermissionCategories] ([Label], [DateCreated], [DateModified], [DateDeleted], [Status], [VisibleLabel], [Description]) VALUES (N'Device', CAST(N'2020-08-11T09:17:51.4744365' AS DateTime2), NULL, NULL, 1, N'Cihazlar', N'')
SET IDENTITY_INSERT [idt].[PermissionCategoryPermissions] ON 

INSERT [idt].[PermissionCategoryPermissions] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [CategoryId], [PermissionId], [Description]) VALUES (1, CAST(N'2020-08-11T09:17:51.4738614' AS DateTime2), NULL, NULL, 1, N'User', N'Delete', NULL)
INSERT [idt].[PermissionCategoryPermissions] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [CategoryId], [PermissionId], [Description]) VALUES (2, CAST(N'2020-08-11T09:17:51.4745038' AS DateTime2), NULL, NULL, 1, N'VehicleType', N'Add', NULL)
INSERT [idt].[PermissionCategoryPermissions] ([Id], [DateCreated], [DateModified], [DateDeleted], [Status], [CategoryId], [PermissionId], [Description]) VALUES (3, CAST(N'2020-08-11T09:17:51.4745069' AS DateTime2), NULL, NULL, 1, N'VehicleType', N'Edit', NULL)
SET IDENTITY_INSERT [idt].[PermissionCategoryPermissions] OFF
INSERT [idt].[Permissions] ([Label], [DateCreated], [DateModified], [DateDeleted], [Status], [VisibleLabel], [Description]) VALUES (N'Add', CAST(N'2020-08-11T09:17:51.1302556' AS DateTime2), NULL, NULL, 1, N'Ekle', N'')
INSERT [idt].[Permissions] ([Label], [DateCreated], [DateModified], [DateDeleted], [Status], [VisibleLabel], [Description]) VALUES (N'Delete', CAST(N'2020-08-11T09:17:51.1333946' AS DateTime2), NULL, NULL, 1, N'Sil', N'')
INSERT [idt].[Permissions] ([Label], [DateCreated], [DateModified], [DateDeleted], [Status], [VisibleLabel], [Description]) VALUES (N'Edit', CAST(N'2020-08-11T09:17:51.1333294' AS DateTime2), NULL, NULL, 1, N'Düzenle', N'')
/****** Object:  Index [IX_Likes_PostId]    Script Date: 18.09.2020 16:34:56 ******/
CREATE NONCLUSTERED INDEX [IX_Likes_PostId] ON [dbo].[Likes]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Likes_UserId]    Script Date: 18.09.2020 16:34:56 ******/
CREATE NONCLUSTERED INDEX [IX_Likes_UserId] ON [dbo].[Likes]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Posts_UserId]    Script Date: 18.09.2020 16:34:56 ******/
CREATE NONCLUSTERED INDEX [IX_Posts_UserId] ON [dbo].[Posts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TagPosts_PostId]    Script Date: 18.09.2020 16:34:56 ******/
CREATE NONCLUSTERED INDEX [IX_TagPosts_PostId] ON [dbo].[TagPosts]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TagPosts_TagId]    Script Date: 18.09.2020 16:34:56 ******/
CREATE NONCLUSTERED INDEX [IX_TagPosts_TagId] ON [dbo].[TagPosts]
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserDetail_UserTypeId]    Script Date: 18.09.2020 16:34:56 ******/
CREATE NONCLUSTERED INDEX [IX_UserDetail_UserTypeId] ON [dbo].[UserDetail]
(
	[UserTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PermissionCategoryPermissions_CategoryId]    Script Date: 18.09.2020 16:34:56 ******/
CREATE NONCLUSTERED INDEX [IX_PermissionCategoryPermissions_CategoryId] ON [idt].[PermissionCategoryPermissions]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PermissionCategoryPermissions_PermissionId]    Script Date: 18.09.2020 16:34:56 ******/
CREATE NONCLUSTERED INDEX [IX_PermissionCategoryPermissions_PermissionId] ON [idt].[PermissionCategoryPermissions]
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleClaims_RoleId]    Script Date: 18.09.2020 16:34:56 ******/
CREATE NONCLUSTERED INDEX [IX_RoleClaims_RoleId] ON [idt].[RoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolePermissionCategories_PermissionCategoryPermissionId]    Script Date: 18.09.2020 16:34:56 ******/
CREATE NONCLUSTERED INDEX [IX_RolePermissionCategories_PermissionCategoryPermissionId] ON [idt].[RolePermissionCategories]
(
	[PermissionCategoryPermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 18.09.2020 16:34:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [idt].[Roles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserClaims_UserId]    Script Date: 18.09.2020 16:34:56 ******/
CREATE NONCLUSTERED INDEX [IX_UserClaims_UserId] ON [idt].[UserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserLogins_UserId]    Script Date: 18.09.2020 16:34:56 ******/
CREATE NONCLUSTERED INDEX [IX_UserLogins_UserId] ON [idt].[UserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserPermissions_PermissionId]    Script Date: 18.09.2020 16:34:56 ******/
CREATE NONCLUSTERED INDEX [IX_UserPermissions_PermissionId] ON [idt].[UserPermissions]
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 18.09.2020 16:34:56 ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [idt].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 18.09.2020 16:34:56 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [idt].[Users]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 18.09.2020 16:34:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [idt].[Users]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Posts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Posts_PostId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_UserDetail_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserDetail] ([UserId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_UserDetail_UserId]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_Posts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_Posts_PostId]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_UserDetail_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserDetail] ([UserId])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_UserDetail_UserId]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_UserDetail_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserDetail] ([UserId])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_UserDetail_UserId]
GO
ALTER TABLE [dbo].[TagPosts]  WITH CHECK ADD  CONSTRAINT [FK_TagPosts_Posts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagPosts] CHECK CONSTRAINT [FK_TagPosts_Posts_PostId]
GO
ALTER TABLE [dbo].[TagPosts]  WITH CHECK ADD  CONSTRAINT [FK_TagPosts_Tags_TagId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagPosts] CHECK CONSTRAINT [FK_TagPosts_Tags_TagId]
GO
ALTER TABLE [dbo].[UserDetail]  WITH CHECK ADD  CONSTRAINT [FK_UserDetail_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [idt].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDetail] CHECK CONSTRAINT [FK_UserDetail_Users_UserId]
GO
ALTER TABLE [dbo].[UserDetail]  WITH CHECK ADD  CONSTRAINT [FK_UserDetail_UserTypes_UserTypeId] FOREIGN KEY([UserTypeId])
REFERENCES [dbo].[UserTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDetail] CHECK CONSTRAINT [FK_UserDetail_UserTypes_UserTypeId]
GO
ALTER TABLE [idt].[PermissionCategoryPermissions]  WITH CHECK ADD  CONSTRAINT [FK_PermissionCategoryPermissions_PermissionCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [idt].[PermissionCategories] ([Label])
GO
ALTER TABLE [idt].[PermissionCategoryPermissions] CHECK CONSTRAINT [FK_PermissionCategoryPermissions_PermissionCategories_CategoryId]
GO
ALTER TABLE [idt].[PermissionCategoryPermissions]  WITH CHECK ADD  CONSTRAINT [FK_PermissionCategoryPermissions_Permissions_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [idt].[Permissions] ([Label])
GO
ALTER TABLE [idt].[PermissionCategoryPermissions] CHECK CONSTRAINT [FK_PermissionCategoryPermissions_Permissions_PermissionId]
GO
ALTER TABLE [idt].[RoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_RoleClaims_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [idt].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [idt].[RoleClaims] CHECK CONSTRAINT [FK_RoleClaims_Roles_RoleId]
GO
ALTER TABLE [idt].[RolePermissionCategories]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissionCategories_PermissionCategoryPermissions_PermissionCategoryPermissionId] FOREIGN KEY([PermissionCategoryPermissionId])
REFERENCES [idt].[PermissionCategoryPermissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [idt].[RolePermissionCategories] CHECK CONSTRAINT [FK_RolePermissionCategories_PermissionCategoryPermissions_PermissionCategoryPermissionId]
GO
ALTER TABLE [idt].[RolePermissionCategories]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissionCategories_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [idt].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [idt].[RolePermissionCategories] CHECK CONSTRAINT [FK_RolePermissionCategories_Roles_RoleId]
GO
ALTER TABLE [idt].[UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_UserClaims_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [idt].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [idt].[UserClaims] CHECK CONSTRAINT [FK_UserClaims_Users_UserId]
GO
ALTER TABLE [idt].[UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_UserLogins_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [idt].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [idt].[UserLogins] CHECK CONSTRAINT [FK_UserLogins_Users_UserId]
GO
ALTER TABLE [idt].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissions_Permissions_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [idt].[Permissions] ([Label])
ON DELETE CASCADE
GO
ALTER TABLE [idt].[UserPermissions] CHECK CONSTRAINT [FK_UserPermissions_Permissions_PermissionId]
GO
ALTER TABLE [idt].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [idt].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [idt].[UserPermissions] CHECK CONSTRAINT [FK_UserPermissions_Users_UserId]
GO
ALTER TABLE [idt].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [idt].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [idt].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [idt].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [idt].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [idt].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [idt].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [idt].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [idt].[UserTokens] CHECK CONSTRAINT [FK_UserTokens_Users_UserId]
GO
USE [master]
GO
