
<div class="dropdown dropdown-inline">
    <button type="button" class="btn btn-default btn-icon-sm dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="la la-download"></i> Dışa Aktar
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <ul class="kt-nav">

            <li class="kt-nav__item">
                <a href="#" class="kt-nav__link" id="exportPrint">
                    <i class="kt-nav__link-icon la la-print"></i>
                    <span class="kt-nav__link-text ">Yazdır</span>
                </a>
            </li>

            <li class="kt-nav__item">
                <a href="#" class="kt-nav__link" id="exportExcel">
                    <i class="kt-nav__link-icon la la-file-excel-o"></i>
                    <span class="kt-nav__link-text ">Excel</span>
                </a>
            </li>
            <li class="kt-nav__item">
                <a href="#" class="kt-nav__link" id="exportPdf">
                    <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                    <span class="kt-nav__link-text">PDF</span>
                </a>
            </li>
        </ul>
    </div>
</div>
