@model Shared.Resources.Post.PostGetData
@{ Layout = "~/Views/Shared/_GuestLayout.cshtml";}


<!-- Main Content -->
    <div class="container">
        <form id="form">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto" id="posts">
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title" id="title">
                            </h2>
                            <h3 class="post-subtitle" id="content">
                            </h3>
                        </a>
                    </div>
                    <hr>
                </div>
            </div>
        </form>
        <hr>
        <div class="clearfix">
            <input type="hidden" value="0" id="oldvalue">
            <a id="oldPost" data-value="0" class="btn btn-primary float-right">Older Post &rarr;</a>
        </div>
    </div>
<script src="~/lib/general/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="~/views/js/postlist.js"></script>

