
@{
    ViewData["Title"] = "Tags";

    //string category = "vehicle";
    //bool canAdd = (await AuthorizationService.AuthorizeAsync(User, $"{category}_add").ConfigureAwait(false)).Succeeded;
    //bool canList = (await AuthorizationService.AuthorizeAsync(User, $"{category}_list").ConfigureAwait(false)).Succeeded;
    //bool canEdit = (await AuthorizationService.AuthorizeAsync(User, $"{category}_edit").ConfigureAwait(false)).Succeeded;
    //bool canDelete = (await AuthorizationService.AuthorizeAsync(User, $"{category}_delete").ConfigureAwait(false)).Succeeded;

}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">


    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                             viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <rect fill="#000000" opacity="0.3" x="12" y="7" width="10" height="2" rx="1"></rect>
                                <path d="M2,9 C1.44771525,9 1,8.55228475 1,8 C1,7.44771525 1.44771525,7 2,7 L7.35012691,7 C8.14050434,7 8.85674733,7.46546704 9.17775001,8.18772307 L12.6498731,16 L22,16 C22.5522847,16 23,16.4477153 23,17 C23,17.5522847 22.5522847,18 22,18 L12.6498731,18 C11.8594957,18 11.1432527,17.534533 10.82225,16.8122769 L7.35012691,9 L2,9 Z"
                                      fill="#000000" fill-rule="nonzero"></path>
                            </g>
                        </svg>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Tags
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-actions">


                        <partial name="~/PartialViews/_PartialHeadAddButton.cshtml" />


                        <partial name="~/PartialViews/_PartialHeadExportButtons.cshtml" />
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">

                <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="row align-items-center">
                                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input type="text" class="form-control" placeholder="Arama..."
                                               id="generalSearch">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="kt-portlet__body">

                <table class="table table-striped- table-bordered table-hover table-checkable"
                       id="dataTable">
                </table>

            </div>
        </div>


    </div>

</div>
<!--Görüntüle Modal-->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModal"
     aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">


        <form id="detailForm">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <span class="kt-portlet__head-icon mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                 viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                    <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1" />
                                    <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1" />
                                </g>
                            </svg>
                        </span>Tags
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="kt-portlet__body">
                        <div class="kt-notification">
                            <a href="#" class="kt-notification__item">                         
                                <div class="kt-notification__item-details">
                                    <div class="kt-notification__item-title">
                                      Tag name
                                    </div>
                                    <input class="form-control kt-notification__item-time input-label" disable readonly type="text" name="tagName">

                                </div>
                            </a>
         
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </form>

    </div>
</div>


<!--Yeni Ekle Modal-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal"
     aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">

        <form id="form">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="example--ModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                    </button>
                </div>
                <div class="modal-body">
                    <input id="id" type="number" name="id" value="0" hidden readonly>
                    <div class="kt-portlet__body">
                        <div class="kt-section kt-section--first">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="label">Tag Name </label>
                                    <input class="form-control" type="text" id="tagName" name="tagName" required="required">
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </form>

    </div>
</div>

<!--Dialog Modal - Sil-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="modal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="İptal">
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Silmek istediğinizden emin misiniz? Bu işlem geri alınamaz.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                <button type="button" id="submit" class="btn btn-danger">Evet</button>
            </div>
        </div>
    </div>
</div>

@section Styles{

    <link href="~/lib/custom/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/custom/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/custom/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/custom/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/custom/datatables.net-fixedcolumns-bs4/css/fixedColumns.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/custom/datatables.net-fixedheader-bs4/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/custom/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/custom/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/custom/datatables.net-rowgroup-bs4/css/rowGroup.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/custom/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/custom/datatables.net-scroller-bs4/css/scroller.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/custom/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/general/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />

}

@section Scripts
{
    <script src="~/lib/custom/datatables.net/js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-bs4/js/dataTables.bootstrap4.js" type="text/javascript"></script>
    <script src="~/lib/custom/js/global/integration/plugins/datatables.init.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-autofill/js/dataTables.autoFill.min.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-autofill-bs4/js/autoFill.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/lib/custom/jszip/dist/jszip.min.js" type="text/javascript"></script>
    <script src="~/lib/custom/pdfmake/pdfmake.min.js" type="text/javascript"></script>
    <script src="~/lib/custom/pdfmake/vfs_fonts.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-buttons/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-buttons/js/buttons.colVis.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-buttons/js/buttons.flash.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-buttons/js/buttons.html5.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-buttons/js/buttons.print.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-colreorder/js/dataTables.colReorder.min.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-fixedcolumns/js/dataTables.fixedColumns.min.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-keytable/js/dataTables.keyTable.min.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-rowgroup/js/dataTables.rowGroup.min.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-rowreorder/js/dataTables.rowReorder.min.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-scroller/js/dataTables.scroller.min.js" type="text/javascript"></script>
    <script src="~/lib/custom/datatables.net-select/js/dataTables.select.min.js" type="text/javascript"></script>
    <script src="~/lib/general/bootstrap-select/dist/js/bootstrap-select.js" type="text/javascript"></script>


    <script>
        @*const canAdd = @Json.Serialize(canAdd);
        const canList = @Json.Serialize(canList);
        const canEdit = @Json.Serialize(canEdit);
        const canDelete = @Json.Serialize(canDelete);*@
    </script>
    <script src="~/views/js/tags.js"></script>
}